{% extends "base.html" %}

{% block content %}

<article>
    <form method="post">
        <h2>Sign Up</h2>
        <br>
        <label>
            Name
            <input type="text" name="username" value="{{name}}">
            {{error_name}}
            {{error_username}}
        </label>
        <label>
            Password
            <input type="password" name="password">
            {{error_password}}
        </label>
        <label>
            Confirm Password
            <input type="password" name="verify">
            {{error_verify}}
        </label>
        <label>
            E-mail
            <input type="text" name="email" value="{{email}}">
            {{error_email}}
        </label>
        <br>
        <button>Send</button>
    </form>
</article>

{% endblock %}